    body {
        background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
    }
    
    .btn_wrap {
        display: flex;
        flex-direction: row;
    }
    
    button {
        margin-right: 7px;
        padding: 10px;
        border: 2px solid white;
        width: 100px;
        outline: none;
        height: 100px;
        border-radius: 50%;
        background: transparent;
        font-size: 18px;
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #up {
        color: white;
    }
    
    #up:hover {
        color: rgb(101, 101, 228);
    }
    
    button:hover {
        transform: scale(0.88);
    }
    
    #down {
        color: white;
    }
    
    #down:hover {
        color: rgb(253, 253, 130);
    }
    
    #reset {
        color: white;
    }
    
    #reset:hover {
        color: black;
    }
    
    #text {
        font-size: 10rem;
        padding: 0px 117px;
    }